@import "tailwindcss";
@utility container-sm {
  max-width: 40rem; /* 640px */
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility container-md {
  max-width: 48rem; /* 768px */
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility container-lg {
  max-width: 64rem; /* 1024px */
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@utility container-xl {
  max-width: 80rem; /* 1280px */
  margin-inline: auto;
  padding-inline: 2rem;
}